ion-content{
   --background: url(../../assets/icon/imagen2.jpg) no-repeat;
}
.bn{
    color: white;
    font-size: 38px;
    margin: 0 auto;
    position: relative;
    top: 28%;
    left: 22%;
    right: 25%;
}
